* {
  margin: 0;
  padding: 0;
}

#root {
  width: 1200px;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

.serials {
  display: flex;
  flex-wrap: wrap;
}

.serialWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.imageWrapper {
  height: 250px;
  width: 180px;
  margin: 20px 20px 5px 20px;
  overflow: hidden;
}

figure {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}
figure img {
  width: 100%;
  height: 100%;
}
figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
figure:hover {
  animation: bloom ease-in-out 0.75s forwards;
}
figure:hover::before {
  animation: circle 0.75s;
}
@keyframes bloom {
  0% {
    filter: grayscale(0.8);
  }
  40% {
    filter: grayscale(0.5);
  }
  100% {
    filter: grayscale(0);
  }
}
@keyframes circle {
  0% {
    opacity: 0.5;
    background: rgba(213, 156, 34, 0.2);
  }
  40% {
    opacity: 1;
    background: rgba(180, 41, 223, 0.315);
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.serialPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.serialPosition {
  display: flex;
  height: 450px;
  border: 1px solid black;
}

.serialImage {
}

.serialImage > img {
  height: 450px;
}

.serialInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  align-items: center;
  padding: 15px 0px 15px 15px;
}

.arrow {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50px;
  left: 50px;
  background: transparent;
  text-indent: -9999px;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: transparent;
}

.arrow:hover {
  border-color: rgb(50, 62, 236);
  border-width: 6px;
}
.arrow.prev {
  transform: rotate(-45deg);
}

.input {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.input > input {
  outline: none;
  border: none;
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 5px;
}

.serialDescription {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

.comments {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 359px;
  margin-top: 15px;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
}

.border {
  border-top: 1px solid grey;
  width: 233px;
}

.allComents {
  padding: 5px 10px;
}

.comment {
  font-family: monospace;
  margin-bottom: 5px;
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
  animation: heartbeat 1.6s;
  margin: 0 auto;
  bottom: 280px;
  opacity: 1;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #c33;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  10% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.75);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
    opacity: 0.9;
  }
  60% {
    transform: scale(0.7);
  }
  70% {
    transform: scale(0.65);
  }
  80% {
    transform: scale(0.6);
  }
  90% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}
